@using FFP.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admins";
    ViewData["Page"] = "Admins";
}

@model List<Admin>

<div id="addAdminModal" class="modal fade modal-lg" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="ControlPanel" asp-controller="Admin" asp-action="Index"
               class="text-decoration-none text-muted">Admin</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<div>
    <div class="card p-0">
        <div class="p-3">
            <a href="javascript:void(0)" class="btn-label-primary" onclick="showUpsertModal()">Add new admin</a>
        </div>
        <div class="c-datatable-wrapper">
            <table id="adminsTable" class="table " style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Profile Photo</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var admin in Model)
                    {
                        <tr>
                            <td>@admin.Id</td>
                            <td>
                                <img src="@admin.PersonalPhotoPath" alt="@admin.FirstName" class="circular-user-photo" />
                            </td>
                            <td class="text-nowrap">@string.Format("{0} {1} {2} {3}", admin.FirstName, admin.SecondName, admin.ThirdName, admin.LastName)</td>
                            <td class="text-nowrap">@admin.AdminRole.Title</td>
                            <td class="text-nowrap">@admin.Username</td>
                            <td class="text-nowrap">@admin.EncPassword</td>
                            <td>
                                @{
                                    if (admin.Status == true)
                                    {
                                            <span class="text-success">Active</span>
                                    }
                                    else
                                    {
                                            <span class="text-danger">Inactive</span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="fs-5 link-dark d-block w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" asp-area="ControlPanel" asp-controller="Admin" asp-action="Details" asp-route-id="@admin.Id">Show details</a></li>
                                        <li><a class="dropdown-item" asp-area="ControlPanel" asp-controller="Admin" asp-action="Edit" asp-route-id="@admin.Id">Edit details</a></li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                @{
                                                    if (admin.Status == true)
                                                    {
                                                            <span>Deactivate the admin</span>
                                                    }
                                                    else
                                                    {
                                                            <span>Activate the admin</span>
                                                    }
                                                }
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item link-danger" href="#">Delete the admin</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    
    <script>

        $('.js-example-basic-single').select2({
            theme: "bootstrap4",
            placeholder: 'Select an option'
        });

        $('#adminsTable').DataTable({
            "columnDefs": [
                {
                    "targets": [1, 3, 4, 5, 6, 7],
                    "orderable": false
                },
            ],
            "initComplete": function (settings, json) {
                const tableWrapper =
                    document.querySelector("div:has(> #adminsTable)");

                tableWrapper.classList.add("mzn-scroll");
                tableWrapper.classList.add("mzn-x-scroll");
            },
        });

        function showUpsertModal(id = 0) {
            $(`#addAdminModal`).modal(`show`);
            $(`#addAdminModal .modal-title`).html("Add New Admin");

            $(`#addAdminModal .modal-body`).html(`<div class="loader"><div class="dots"></div></div>`);
            $(`#addAdminModal .modal-body`).load("@Url.Action("Upsert")" + (id !== null && id !== undefined ? `?id=${id}` : ""),
                function (responseText, textStatus, XMLHttpRequest) {
                    if (textStatus == "success") {
                        
                    }
                    else {
                        console.log(`Something went wrong while fetching data`);
                    }
                });
        }

        function handleUpsertSubmit(senderForm, event) {

            event.preventDefault();

            if (!$(senderForm).valid()) {
                return;
            }

            $(`#addAdminModal .modal-body`).html(`<div class="loader"><div class="dots"></div></div>`);
        }

    </script>
}